snippet def
    /*global define*/
    define([
        ${1:// dependencies...}
    ], function (${2}) {

        'use strict';

        ${3:// body...}
    });

snippet tdef
    /*global define, describe, it, expect*/
    define([
        ${1:// dependencies...}
    ], function (${2}) {

        'use strict';

        ${3:// body...}
    });
